.tab_container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  margin: 10px;

  border-width: 2px;
  border-style: solid;
  border-radius: 20px;
  color: #9400d3;
  border-color: #9400d3;
}
h2 {
  margin: 10px;
}
.tabs {
  display: flex;
margin: 5px;
padding-left: 5px;
  height: 60px;
}
.tabs > button {
  background-color: white;
  color: black;
  border-width: 0;
  height: 100%;
  font-size: large;
  margin: 0;
}
.tabs > button.active {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #9400d3;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.tabs > button:hover {
  /* border-style: solid;
    background-color:grey;
    
    color: white; */

  /* box-shadow: 0 5px 15px rgba(145, 92, 182, .4); */
}
.data_list {
  margin: 0.5%;
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.data_list::-webkit-scrollbar {
  width: 6px;
  height: 1px;
  background-color: lightgrey;
}
.data_list::-webkit-scrollbar-track {
  /* background-color: rgb(0, 0, 0); */
  border-radius: 10px;
  background-color: lightgrey;
}
.data_list::-webkit-scrollbar-thumb {
  /* background: linear-gradient(transparent, #30ff00); */
  background-color: lightgrey;
  border-radius: 10px;
}
.data_list::-webkit-scrollbar-thumb:hover {
  /* background: linear-gradient(transparent, #00c6ff); */
  background-color: lightgrey;
}
